.main-footer {
    background-color: $gray-800;
    min-height: 60px;
    margin: 20px 0 0;
    padding: 20px;
    box-sizing: border-box;
    color: $white;
    @include border-radius(15px 15px 0 0);
    @include gradient-y($start-color: $gray-600, $end-color: $black, $start-percent: 0%, $end-percent: 90%);
}